.app-form {

    > div {
        margin-bottom: 5px;

        > div {

            margin-bottom: 5px;

            .form-input {
                margin-bottom: 5px;
            }
        }
        
    }

    .slider-select {
        box-shadow: none;
        border: solid 1px lightgray;
        border-radius: 5px;
    }

    .photo-picker {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 150px;
        margin: 0 auto;

        .circle-image {
            margin-bottom: 10px;
        }

        > div {
            font-size: 13px;
        }

        .label {
            .required {
                color: red;
            }
        }

    }
}