.form-input {
    position: relative;

    .form-input-label {
        font-size: 13px;
        color: var(--gray);
        padding: 5px 0;
        user-select: none;

        .required {
            color: red;
        }
    }

    input, textarea {
        border: solid 1px lightgray;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        resize: none;
        transition: border .3s;

        &.hideControls {

            /* Chrome, Safari, Edge, Opera */
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type=number] {
                -moz-appearance: textfield;
            }

        }
    }
    
    .checkbox-input {

        input {
            width: auto;
            padding: 0;
            border: none;
            transform: scale(1.2);
        }

        .flex-row {
            font-size: 14px;
            padding-left: 10px;
        }

    }

    .radio-button {
        background-color: white;
        border-radius: 50%;
        border: solid 1px lightgray;
        min-width: 18px;
        width: 18px;
        height: 18px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;

        .radio-button-selected {
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: white;
        }

        &.active {
            background-color: var(--primary-color);
            border: none;

            .radio-button-selected {
                width: 7px;
                height: 7px;
            }
        }
    }

    .password-input {
        display: flex;
        align-items: center;
        border: solid 1px lightgray;
        background-color: white;
        border-radius: 5px;
        width: 100%;
        padding-right: 10px;

        input {
            border: none;
            flex: 1;
        }

        svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    .slider-select, .multiselect {

        .slider-select-bullet,
        .multiselect-bullet {
            border-radius: 5px;
            box-shadow: 0 1px 2px rgba(0,0,0,.08);
        }
    }

    .time-picker {
        background-color: white;
        padding: 2px 5px;
        border-radius: 5px;

        input {
            padding: 0;
            border: none;
            border-radius: 0;
            font-size: 12px;
            text-align: center;
            padding: 3px 0;

            &:focus {
                background-color: whitesmoke;
            }
        }

        .time-select {
            flex: 0 0 55px;
            min-width: 55px;
        }
    }

    .form-input-calendar {
        position: relative;

        > .flex-row {
            background-color: white;
            padding: 2px 8px;
            border-radius: 2px;

            > .calendar-selected-label {
                flex: 1;
                font-size: 12px;
            }
    
            .icon-popup {

                .icon {
                    width: 15px;
                    height: 15px;
                }

            }
        }

        .popup {
            min-width: 350px;
            border: solid 1px whitesmoke;
            background-color: white;
            border-radius: 10px;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, .1);

            .calendar {
                transform: scale(.8);
            }
        }

    }

    .footer {

        .length {
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 5px 0;
            user-select: none;

            &.overpassed {
                color: red;
            }
        }

        .error {
            font-size: 11px;
            margin-top: 2px;
            color: red;
        }
    }

    &.error {

        input, textarea {
            border-color: var(--error-color);
        }

        .password-input {
            border-color: var(--error-color);
    
            input {
                border: none;
            }
        }
    }

    .iti {
        width: 100%;

        input {
            width: 100%;
        }
    }

    .iti__country-list {
        z-index: 20;
    }

    .suggestions {
        position: absolute;
        z-index: 50;
        background-color: white;
        top: 100%;
        left: 0;
        box-shadow: 2px 2px 5px rgba(0,0,0,.1);
        width: 100%;

        .suggestion {
            padding: 10px;
            font-size: 14px;
            border-bottom: solid 1px lightgray;
            cursor: pointer;
            color: gray;
            transition: all .3s;
            
            svg {
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: whitesmoke;
            }
        }
    }

    .clearx {
        position: absolute;
        right: 5px;
        bottom: 0;
        height: 60%;
        display: flex;
        align-items: center;
    }

    &.readonly {
        input {
            border: none;
            background-color: transparent;
            padding: 0;
        }
    }
}