.draggable-list {

    > li {
        background-color: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0,0,0,.1);
        margin-bottom: 10px;
        list-style: none;
        cursor: grab;
    }

}